{% extends 'layout.html' %}
{% block content %}
    <h1>{{ streetview.title }}</h1>
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;margin:12px;">
        <iframe
        width="700"
        height="600"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyCArJV7Z5NU_M54qFp8tLdm4Am6Ogriqsc&location={{ streetview.streetXY }}&heading=210&pitch=10&fov=35"
        allowfullscreen
        >
        </iframe>
    </div>
{% endblock %}